.gradient-border {
  background: linear-gradient(
    254.83deg,
    #6b38e3 0%,
    #ac92e8 52.21%,
    #ededed 104.41%
  );
  position: relative;
  padding: 1px;
  border-radius: 24px;
}

/* #img {
    background-image: url("../../assets/home.png");
    background-size: cover;
} */
#img {
  background: url("../../assets/home.png");
  background-size: cover;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #img {
    background-position: top center; /* Adjust the position of the background */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

#img2 {
  background-image: url("../../assets/LogosContainer.png");
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the image */
  width: 100%; /* Make the width responsive */
  height: 36.85px; /* The fixed height you initially set */
  max-width: 100%;
}
@media (max-width: 768px) {
  #img2 {
    height: 30px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  #img2 {
    height: 25px; /* Further adjust for very small screens */
  }
}

#img3 {
  background-image: url("../../assets/Group\ 1000003566.png");
  width: 586.43px;
  height: 397.04px;
  margin-top: -116px;
  background-size: cover;
  background-size: 100%;
}
#img4 {
  background-image: url("../../assets/Group\ 1000003566.png");
  width: 586.43px;
  height: 397.04px;
  margin-top: -116px;
  background-size: cover;
  background-size: 100%;
}
#img5 {
  background-image: url("../../assets/Group\ 1000003529.png");
  width: 352.4px;
  height: 225.2px;
  margin-top: -20px;
  background-size: cover;
  background-size: 100%;
}
#img6 {
  background-image: url("../../assets/Group\ 1000003568.png");
  width: 386.43px;
  height: 297.04px;
  margin-top: -20px;
  background-size: cover;
  background-size: 100%;
}
#img7 {
  background-image: url("../../assets/Group\ 1000003530.png");
  width: 352.4px;
  height: 297px;
  margin-top: -116px;
  background-size: cover;
  background-size: 100%;
}

#imgA {
  background-image: url("../../assets/gala_secure.png");
}
#imgB {
  background-image: url("../../assets/Ellipse2.png");
}
#imgC {
  background-image: url("../../assets/Ellipse3.png");
}
#hero5img {
  background-image: url("../../assets/Hero5image.png");
  background-size: cover;
  height: 486px;
  width: 611px;
}
#Hero6image {
  background-image: url("../../assets/Hero6.png");
}

@media (min-width: 768px) {
  .responsive-container {
    width: 80%;
    flex-direction: row;
    height: auto;
  }
}

@media (max-width: 768px) {
  .responsive-container {
    width: 100%;
    flex-direction: column;
  }
}

/* Add media queries to make elements responsive if needed */
@media screen and (max-width: 1024px) {
  /* Styles for medium screens, tablets */
  #img {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  /* Styles for small screens, phones */
  .form {
    flex-direction: column;
  }

  .hero-content {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for extra small screens */
  .form {
    width: 100%;
  }
}

#haha {
  background-image: url("../../assets/Apiimage.png");
  width: 686.43px;
  height: 497.04px;
  margin-top: -20px;
  background-size: cover;
  background-size: 100%;
}

/* Default background for larger screens */
#testimonials-section {
  background-image: url("../../assets/Hero6.png"); /* Desktop background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  #testimonials-section {
    background-image: url("../../assets/Testimonial\ img.png"); /* Mobile background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
