  .otp-box {
    background-color: #fff;
     margin-top: 15%;
   height: 337px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 45em;
    text-align: center;
  }
  
  .otp-title {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }
  
  .otp-description {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
  }
  
  .otp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .otp-inputs {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .otp-input:focus {
    border-color: #2563eb; 
    box-shadow: 0 0 2px #2563eb;
  }
  
  .otp-submit-btn {
    width: 90%; 
    padding: 12px;
    margin-top: 2%;
    background-color: #3D55CC;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;

  }
  